@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .section {
    @apply px-4 md:px-32;
  }
  .link {
    @apply bg-secondary text-white relative overflow-hidden font-medium py-2 md:py-3 px-6 text-base rounded-full rounded-bl-none hover:bg-primary-foreground hover:text-secondary transition-all duration-300;
}
  .hide-scrollbar {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
